body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  background-color: #8e8e8e;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-container > h1 {
  text-align: center;
}

.game-container {
  background-color: white;
  height: 450px;
  width: 450px;
  font-size: 0;
  outline: 1px solid black;
}

.outer-square {
  display: inline-block;
  height: 150px;
  width: 150px;
  outline: 3px solid black;
}

.inner-square {
  display: inline-block;
  height: 50px;
  width: 50px;
  outline: 1px solid black;
}
